@page "/semesters"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorApp2.Models
@inject IDbContextFactory<BlazorApp2.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="semesters/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Semesters">
    <PropertyColumn Property="semesters => semesters.Name" />
    <PropertyColumn Property="semesters => semesters.StartDate" Title="Star Date" Format="dd/mm/yyyy" />
    <PropertyColumn Property="semesters => semesters.EndDate" Title="End Date"  Format="dd/mm/yyyy"/>

    <TemplateColumn Context="semesters">
        <a href="@($"semesters/edit?id={semesters.Id}")">Edit</a> |
        <a href="@($"semesters/details?id={semesters.Id}")">Details</a> |
        <a href="@($"semesters/delete?id={semesters.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
